{% extends 'base.html' %}
{% block title %} Recipe Details {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <!-- Add your stylesheets or any other necessary head content here -->
</head>
<body>
    <style>
        body {
            background-color: #89bbd7; /* Set your desired background color here */
        }
    </style>
    <h2 style="text-align: center">Recipe Details</h2>
    <div style="margin-left:35%;">
        <img src="{{ recipe_details['image'] }}" alt="Recipe Image" width="30%" height="30%">
        <h3>{{ recipe_details['title'] }}</h3>

        <!-- Save Recipe Button -->
        <form action="/save_user_recipe" method="post">
            <input type="hidden" name="recipe_id" value="{{ recipe_details['id'] }}">
            <input type="hidden" name="recipe_title" value="{{ recipe_details['title'] }}">
            <input type="submit" value="Save Recipe">
        </form>
        
        <form action="/like_recipe" method="post">
            <input type="hidden" name="recipe_id" value="{{ recipe_details['id'] }}">
            <input type="hidden" name="recipe_title" value="{{ recipe_details['title'] }}">
            <input type="submit" value="Like Recipe">
        </form>        

        <p>Preparation Time: {{ recipe_details['preparationMinutes'] }} minutes</p>
        <p>Cooking Time: {{ recipe_details['cookingMinutes'] }} minutes</p>
        <p>Likes: {{ total_likes }}</p>
        
        <!-- Display Ingredients -->
        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in ingredients_with_quantities %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <!-- Display Instructions -->
        <h3>Instructions:</h3>
        <ol>
            {% for step in instructions %}
                <li>{{ step['step'] }}</li>
            {% endfor %}
        </ol>
        <!-- Display Nutritional Information -->
        <h3>Nutritional Information:</h3>
        <ul>
            <li>Calories: {{ nutrition_info['calories'] }}</li>
            <li>Fat: {{ nutrition_info['fat'] }}g</li>
            <li>Protein: {{ nutrition_info['protein'] }}g</li>
            <li>Carbohydrates: {{ nutrition_info['carbs'] }}g</li>
            <!-- Add any other relevant nutritional information -->
        </ul>
    </div>
</body>
</html>
{% endblock %}
